body {
    background-color: #D8F1E8;
    height: 100vh;
}

h1 {
    margin: 100px 80px;
    font-size: 50px;
}

.cardPrincipal {
    display: flex;
    justify-content: center;
    width: calc(100vw - 15%);
}

.cardSecundario {
    margin: 150px 0;
    display: flex;
    justify-content: space-around;
    width: calc(100vw - 15%);
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContent a {
    margin: 10px 0;
    text-decoration: none;
    color: #81BAEF;
    font-size: 20px;
    ;
}